<section id="services" className="tw-py-10">
      <div className="container">
        {/* row */}
        <div className="row ">
          <div className="col-lg-10 m-auto">
            {/* section title */}
            <div className="section-title title-style-center_text">
              <div className="title-header tw-text-center">
                <span>BECAUSE FAMILY COMES FIRST!</span>
                <h2 className=" tw-text-black">
                  EU Family
                  <strong> Reunification Solutions</strong>
                </h2>
              </div>
            </div>
            {/* section title end */}
          </div>
        </div>{' '}
        {/* row end*/}
        <div className="row tw-items-center g-5 ">
          <div className="col-md-6">
            <motion.img animate={imageVariants} src={first_image} alt="" />
          </div>
          <div className="col-md-6">
            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }} className="title-header">
              <span>EU RESIDENCE CARD</span>
              <motion.h2 variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-black">
                Family
                <strong> Reunification </strong>
              </motion.h2>
            </motion.div>
            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                In the European Union (EU), the right to family reunification is protected by the EU’s Charter of Fundamental Rights. The EU has established a common set of rules for family reunification for third-country nationals (non-EU citizens)
                who are living in an EU Member State. These rules are set out in the Family Reunification Directive (2003/86/EC).
              </motion.p>
            </motion.div>
            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                According to the Directive, the EU Member States must facilitate the reunification of third-country nationals with their spouse and minor children in their territory. The EU Member States have some discretion in determining the
                conditions for family reunification, but in general, the process must be efficient, transparent, and non-discriminatory.
              </motion.p>
            </motion.div>
            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                The third-country national must be legally resident in an EU Member State and must be able to support his or her family members financially and provide them with adequate accommodation. The family members must also not be a threat to
                public security or public health.
              </motion.p>
            </motion.div>

            <Link to={`/family-reunification`}>
              <Button label={'Read More!'} className={'btn-indigo tw-mt-8'} />
            </Link>
          </div>

          <div className="col-md-6">
            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }} className="title-header">
              <span> SOFTWARE BASE SOLUTION</span>
              <motion.h2 variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-black">
                Apply Online
                <strong> Now </strong>
              </motion.h2>
            </motion.div>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                In the European Union (EU), the right to family reunification is protected by the EU’s Charter of Fundamental Rights. The EU has established a common set of rules for family reunification for third-country nationals (non-EU citizens)
                who are living in an EU Member State. These rules are set out in the Family Reunification Directive (2003/86/EC).
              </motion.p>
            </motion.div>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                According to the Directive, the EU Member States must facilitate the reunification of third-country nationals with their spouse and minor children in their territory. The EU Member States have some discretion in determining the
                conditions for family reunification, but in general, the process must be efficient, transparent, and non-discriminatory.
              </motion.p>
            </motion.div>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                The third-country national must be legally resident in an EU Member State and must be able to support his or her family members financially and provide them with adequate accommodation. The family members must also not be a threat to
                public security or public health.
              </motion.p>
            </motion.div>

            <Link to={`/family-reunification`}>
              <Button label={'Read More!'} className={'btn-indigo tw-mt-8'} />
            </Link>
          </div>
          <div className="col-md-6">
            <motion.img animate={imageVariants} className=" tw-w-full" src={Hero} alt="" />
          </div>
          <div className="col-md-6">
            <div className=" row">
              <div className="col-md-10 tw-mx-auto">
                <motion.img animate={imageVariants} className=" tw-w-full" src={second_image} alt="" />
              </div>
            </div>
          </div>
          <div className="col-md-6">
            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }} className="title-header">
              <span>COMPLETE ONLINE PORTAL & APP BASE SOLUTION</span>
              <motion.h2 variants={fadeIn('left', 'tween', 0.2, 1)} className="  tw-text-black">
                Relocating To
                <strong> Sweden? </strong>
              </motion.h2>
            </motion.div>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                Moving abroad is an exciting yet stressful task. People migrate to different countries because of many reasons. People move to other countries to pursue better job opportunities, better education systems, better living standards,
                health systems, or due to their Family ties.
              </motion.p>
            </motion.div>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                We provide a wide range of services to individuals, families, and companies to relocate their employees to Sweden :
              </motion.p>
            </motion.div>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                Visa and immigration services: We can assist with the application process for various types of visas, including work visas, student visas, and family reunification visas. They can also provide guidance on immigration laws and
                regulations, and help with the documentation required for the application process.
              </motion.p>
            </motion.div>
          </div>

          <div className="col-md-6">
            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }} className="title-header">
              <span>STEP-BY-STEP ASSISTANCE</span>
              <motion.h2 variants={fadeIn('right', 'tween', 0.2, 1)} className="  tw-text-black">
                Departure-Arrival
                <strong> Services</strong>
              </motion.h2>
            </motion.div>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                <strong>Housing and accommodation services:</strong> We can help find suitable housing for the individual or family, including rental properties or purchasing a home. They can also provide advice on local neighborhoods and the cost of
                living in the new country.
              </motion.p>
            </motion.div>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                <strong>School and education services: </strong>For families with children, we assist with the enrollment process for local schools, and provide information on educational systems and curriculums.
              </motion.p>
            </motion.div>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                <strong>Cultural and language services:</strong> We can provide information and resources on the culture, customs, and language of the new country, and may offer language classes or cultural training.
              </motion.p>
            </motion.div>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                <strong>Legal services:</strong> We can help with the legal aspects of the move, such as tax and financial advice, and can provide guidance on local laws and regulations.
              </motion.p>
            </motion.div>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                <strong>Logistics services:</strong> We can help with the physical aspect of the move, including packing and shipping household goods, customs clearance, and transportation.
              </motion.p>
            </motion.div>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                <strong>Settling-in services:</strong> We can provide assistance to help you to settle into your new home and surroundings, such as setting up utilities, arranging for home cleaning, or arranging for a handyman.
              </motion.p>
            </motion.div>
            <Link to={`/family-reunification`}>
              <Button label={'Read More!'} className={'btn-indigo tw-mt-8'} />
            </Link>
          </div>
          <div className="col-md-6">
            <motion.img animate={imageVariants} className=" tw-w-full" src={fourth_image} alt="" />
          </div>
          <div className="col-md-6">
            <div className="row">
              <div className="col-md-10 tw-mx-auto">
                <motion.img animate={imageVariants} className=" tw-w-full" src={fifth_image} alt="" />
              </div>
            </div>
          </div>
          <div className="col-md-6">
            <div className="title-header">
              <span>WORK PERMIT & EXTENSIONS</span>
              <h2 className=" tw-text-black">
                Applying For
                <strong> Work Permit?</strong>
              </h2>
            </div>
            <p className=" tw-text-gray-dark tw-pt-2 tw-font-semibold tw-text-lg">We will help you with preparing permit applications</p>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className=" tw-text-gray">
                Whether you are a Swedish company or a foreign employer who is facing problems with working permits inside Sweden we have easy solutions for you. You won’t be wasting enough time on how to apply for a Swedish work permit. We will do
                it for you easily and conveniently. You will not have to wait for 12 months in case of incorrect or incomplete applications. Our company will do it for you in good time. Download our app and discuss your case directly with our team.
              </motion.p>
            </motion.div>
            <Link to={`/work-permit`}>
              <Button label={'Read More!'} className={'btn-indigo tw-mt-8'} />
            </Link>
          </div>

          <div className="col-md-6">
            <div className="title-header">
              <span>BUSINESS & INVESTMENT SOLUTIONS</span>
              <h2 className="  tw-text-black">
                Business
                <strong> In Sweden</strong>
              </h2>
            </div>
            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className="  tw-text-gray-dark tw-pt-2 tw-font-semibold tw-text-lg">
                If you are planning to invest in Sweden, you might need to apply for the residence permit
              </motion.p>
            </motion.div>
            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className="  tw-text-gray">
                We have a complete solution for all your problems while starting a new business or opening a franchise of your existing business in Sweden. Our company will deliver the service of providing the resident permit that will align with
                your plan easily. You will need a detailed plan for your business, a bank statement that shows that you have enough capital to invest in your business along with other enough funds to show that you can support your family and yourself
                while staying in Sweden during the first two years. Don’t forget to use our Assessment tool to find out more.
              </motion.p>
            </motion.div>

            <Link to={`/business-permit`}>
              <Button label={'Read More!'} className={'btn-indigo tw-mt-8'} />
            </Link>
          </div>

          <div className="col-md-6">
            <div className=" row">
              <div className="col-md-10 tw-mx-auto">
                <motion.img animate={imageVariants} src={deals} alt="" />
              </div>
            </div>
          </div>

          <div className="col-md-6">
            <div className=" row">
              <div className="col-md-10 tw-mx-auto">
                <motion.img animate={imageVariants} src={nine_image} alt="" />
              </div>
            </div>
          </div>
          <div className="col-md-6">
            <div className="title-header">
              <span>EOR & Payroll Services</span>
              <h2 className="  tw-text-black">
                EOR &<strong> Payroll Services</strong>
              </h2>
            </div>

            <motion.div variants={containerVariants} initial="hidden" whileInView="show" viewport={{ once: true, amount: 0.25 }}>
              <motion.p variants={fadeIn('up', 'tween', 0.2, 1)} className="  tw-text-gray">
                Welcome to Sweden Relocators, your reliable partner for seamless global expansion. Our advanced Employer of Record (EOR) services simplify the process of growing your workforce internationally, helping you overcome common challenges
                with ease.
              </motion.p>
            </motion.div>
            <p className=" tw-text-gray-dark tw-m-0 tw-pt-0 tw-font-semibold tw-text-lg">How Payroll Services Work:</p>

            <p className=" tw-text-gray tw-m-0 tw-pt-2 tw-font-semibold tw-text-lg">1.EOR Services:</p>

            <p className=" tw-pt-1 tw-text-gray tw-m-0">
              <b>Global Expansion Made Simple:</b> With our EOR solutions, we manage all aspects of employment, including compliance with local laws, employee contracts, and payroll, allowing you to focus on your business operations without the
              administrative burden.
            </p>

            <p className=" tw-text-gray tw-m-0 tw-pt-2 tw-font-semibold tw-text-lg">2.Payroll Services:</p>

            <p className=" tw-pt-1 tw-text-gray tw-m-0">
              <b> Accurate Salary Processing:</b> We ensure timely and precise salary payments for your employees, considering all deductions, benefits, and tax obligations, thereby maintaining payroll accuracy.
            </p>
            <p className=" tw-pt-1 tw-text-gray tw-m-0">
              <b> Tax Compliance:</b> Our experts are well-versed in the latest tax regulations and ensure that your operations stay compliant, helping you avoid fines and penalties.
            </p>
            <p className=" tw-pt-1 tw-text-gray tw-m-0">
              <b>Benefit Administration:</b> We take care of administering employee benefits, from healthcare to retirement plans, ensuring that the process is efficient for both you and your employees.
            </p>
            <Link to={`/business-permit`}>
              <Button label={'Read More!'} className={'btn-indigo tw-mt-8'} />
            </Link>
          </div>

          <Why_choose_us />
          {/* <div className=" row   tw-items-center tw-py-10"> */}
          <div className="col-md-5">
            <motion.img animate={imageVariants} className=" tw-w-full" src={six_image} alt="" />
          </div>
          <div className="col-md-7">
            <div className="title-header">
              <span>INSTANT HOUSING SOLUTIONS</span>
              <h2 className=" tw-text-black">
                Home Loans & <br />
                <strong> Secure Home Rental Solutions</strong>
              </h2>
            </div>

            <p className=" tw-text-gray">
              The first crucial step when relocating to Sweden is the right home for you and your family. We provide instant housing solutions with our housing partner companies. You can find the apartment or rent out your apartment by providing
              information on our Housing Solutions page.
            </p>
            <Link to="/housing">
              <Button label={'Read More!'} className={'btn-indigo tw-mt-8'} />
            </Link>
          </div>
          <div className="col-md-6">
            <div className="title-header">
              <span>PROFESSIONAL LEGAL SERVICES BY LAWYERS</span>
              <h2 className=" tw-text-black">
                We Can Provide Lawyers For
                <strong> Legal Issues</strong>
              </h2>
            </div>

            <p className=" tw-text-gray">
              The universe in which people live is full of actions and decisions considered as right and wrong. Legal services are defined as services related to government laws or legal issues such as providing legal advice, filing a case, defending
              against criminal charges, etc., which lawyers provided. We are working with different individuals lawyers and law firms where they can provide you solutions to your ongoing issues.
            </p>

            <Button label={'Send Request'} className={'btn-indigo tw-mt-8'} />
          </div>
          <div className="col-md-6">
            <motion.img animate={imageVariants} className=" tw-w-full" src={seven_image} alt="" />
          </div>
          <div className="col-md-6">
            <motion.img animate={imageVariants} className=" tw-w-full" src={eight_image} alt="" />
          </div>
          <div className="col-md-6">
            <div className="title-header">
              <span>AU-PAIR SERVICES FOR NORDIC FAMILIES</span>
              <h2 className="  tw-text-black">
                Solutions For Host Families &<strong> AU Pair</strong>
              </h2>
            </div>

            <p className=" tw-text-gray">An Au Pair is a young person living abroad with a Host Family and taking care of the children in exchange for accommodation and pocket money.</p>
            <p className=" tw-text-gray">
              The Au Pair program is an international cultural exchange that gives the possibility to young people to spend some time abroad, learn more about a different culture, improve their skills in a foreign language in exchange for help with
              duties related to childcare. The term “au pair” from French means “on equal terms”, signifying that Au Pair and Host Family treat each other as equals.
            </p>

            <Button label={'Send Request'} className={'btn-indigo tw-mt-8'} />
          </div>
        </div>
      </div>
      {/* </div> */}
    </section>